src/main/mule/api-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:mulesoft-custom-logger="http://www.mulesoft.org/schema/mule/mulesoft-custom-logger"
    xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mulesoft-custom-logger http://www.mulesoft.org/schema/mule/mulesoft-custom-logger/current/mule-mulesoft-custom-logger.xsd">

    <flow name="api-main-flow" doc:id="main-flow" doc:name="API Main Entry Flow">
        <http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/api/*">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
            </http:error-response>
        </http:listener>

        <!-- Correlation ID Handling via Logging Accelerator -->
        <set-variable variableName="correlationId" value="#[attributes.headers['x-correlation-id'] default uuid()]" doc:name="Capture Correlation ID"/>
        
        <!-- Standard Flow Start Logging -->

        <mulesoft-custom-logger:log doc:name="Log" doc:id="a883976b-c54e-447c-820b-3520002356bf" />
		<choice doc:name="Router">
            <when expression="#[attributes.requestPath == '/api/customers']">
                <flow-ref name="get-customers-business-flow" doc:name="Call Business Logic"/>
            </when>
            <otherwise>
                <raise-error type="APP:NOT_FOUND" description="The requested API resource does not exist." />
            </otherwise>
        </choice>

        <!-- Standard Flow End Logging -->
		<logger level="INFO" doc:name="Logger" doc:id="908e15b6-3588-4fe9-9178-34c183ce01b3" />
    
</flow>

</mule>
